
$vth: 1600px;

#socialtimeline{
	position:relative;
	padding: 50px 0px 100px 0px;
	min-height:$vth+200px;
		background-color: rgb(239, 239, 237);
	// background-image: url("/images/tg.png");
	margin-bottom:0px;


}
.stories{
	margin-left:170px;
}
#backcolor{
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	width:100%;
	height:100%;
}

#vtimeline{
	position:absolute;
	top:200px;
	left:170px;
	width:50px;
	height:$vth;
}

.line.dark{
	position:absolute;
	left: 9px;
	z-index:1;
	width:3px;
	height:100%;
	border-radius: 4px;
	background-color:rgba(00,00,00,0.7);
}

.line.light{
	position:absolute;
	left: 9px;
	z-index:1;
	width:5px;
	height:100%;
	border-radius: 4px;
	background-color:rgba(200,200,200,0.7);
}

.timestamp{
	position:absolute;
	top:50px;
	right:0px;
	left:0px;
	z-index:9999;
	clear:both;
	width:500px;
	height:50px;
}
#t2{
	top:40px+280px;
}
#t3{
	top:2*(40px+280px);
}
#t4{
	top:3*(40px+280px);
}
#t5{
	top:4*(40px+280px);
}

.tcircle{
	position:absolute;
	top:0px;
	left:0px;
	width:10px;
	height:10px;
	border: 5px solid transparentize(lighten($darkblue,30%),0.5);
	border-radius:10px;
	background-color:$darkblue;
	&:hover{
	}
}
.trow{
	position:absolute;
	width:1300px;
	height:300px;
}

.tstories{
	margin-top:70px;
	margin-left: 70px;
	width:100%;
}

.tlabel{
	position: absolute;
	top:0px;
	left: 30px;
	font-weight:300;
}

#eventtimeline{
	margin-top:50px;
}