$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
@import url(http://fonts.googleapis.com/css?family=Raleway);

@import 'sass-bootstrap/lib/bootstrap';


html{
	::selection{
		background-color: #81D8D0;
	}
}

body{
	width:100%;
	height:100%;
	margin:0px;
	font-family: 'Raleway', Helvetica, sans-serif;
	background-color: rgb(240,240,240);
}

a{
	text-decoration:none;
}

#navbar{
	background-color: rgb(48,49,55);
	margin:0px;
	height:50px;
	text-align:center;

	li{
		color:rgb(214,214,214);
		height:30px;
		padding:10px;
		font-size:1.3em;
		vertical-align:center;
		width:200px;
		text-align:center;
		&:hover{
			background-color: lighten( rgb(48,49,55), 10%);
		}
	}
}

#stories-control{

	clear:both;
		border-bottom: 1px solid rgba(180,180,180,0.5);
		border-top: 1px solid rgba(180,180,180,0.5);
		margin:  50px 0px 50px 15%;
		padding: 20px 0px 60px 0px;

		width:70%;
		font-size:1em;
		.sort, .filter, .display{
			display:inline-block;
			padding:10px;
			float:left;
			cursor:pointer;
			width:75px;
			text-align:center;

			&:hover{
				background-color: #9b59b6;
				color:white;
			}
		}
		.filter{
			float:right;
		}
		#label{
			color:gray;
			font-size:0.8em;
			width:auto;
			padding:none;
			&:hover{
			background-color:rgba(0,0,0,0);
			}
		}
		.display{
			&:hover{
			background-color:#81D8D0;
			}
		}
}
#displaycontrol{
		margin-left:15%;
		width:70%;

	.display{
		width:100px;
		height:1.5em;
		background-color:red;
		display:inline-block;
		color:white;
		font-size:1.5em;
		text-align:center;
		border:none;
	}

	#map{
		background-color:green;

	}
}

li{
	list-style:none;
	display:inline-block;
}

#editorial{
	width:100%;
	height:500px;
	margin-left:  auto;
	margin-right: auto;
	background: url('/images/womenvoting.jpg') no-repeat;
	background-size:100%;

}

#stats-container{
	position:absolute;
	bottom:0px;

}

.stats{
	vertical-align:bottom;
	display:inline-block;
	margin: 0px 20px 0px 0px;
	width:150px;
	height:100px;
	text-align:center;

	.statvalue{
		font-size:5em;
		line-height:1em;
	}
	.statlabel{
		text-align:center;
		bottom:5px;
	}
}


#editorial-content{
	position:relative;
	width:70%;
	margin: 100px 15% 250px 15%;
	height:400px;

	#description{
		width:50%;
		padding-top:50px;
		display:inline-block;
		float:left;
	}
	#relatedtags{
		width:300px;
		display:inline-block;
		float:right;
		height:400px;
		h2{
			width:95%;
			background-color: #9b59b6;
			color:white;
			font-size:1.5em;
			padding:5px 0px 5px 5%;
		}

		ol{
			li{
				width:100%;
				padding:5px 0px 5px 0px;
				display:block;
				color:rgb(100,100,100);
			}
		}
			.tag{
				vertical-align:center;
				width:100%;
				height:9%;
				display:inline-block;
				background-color:green;
				p{
					padding-left:120px;
				}
			}
			#title{
				background-color: rgb(48,49,52);
				color:white;
			}

	}
}

#dynamic-content{
	width:100%;
	height:650px;
	margin: 50px 0px 50px 0px;
	margin-left:  auto;
	margin-right: auto;

}


$story-width: 400px;
$story-p: 0px;
$story-m: 25px;
$ul-width: ($story-width + 2*$story-p + 2*$story-m)*3;

ul#stories{
width:100%;
display:inline-block;
text-align:center;

	margin: 0 auto;
	padding:0px;
	margin:0px;
	width:90%;
	margin: 0px 5% 0px 5%;
	li{
		height:300px;
		width:250px;
		margin:10px;

	}

}
.listory{
	border: 1px solid rgba(200,200,200,0.5);
	&:hover{
		border-bottom: 2px  #9b59b6 solid;
		}

	text-align:left;
	margin:5px;
	padding: 0px;
	width:100%;

	height:100%;
	background-color:white;
	display:inline-block;
	vertical-align:top;
	border-radius: 3px;
	position:relative;

}


#listory-content{

	overflow:hidden;
	height:100%;
	#content-img{
		position:reltive;
		padding:0px;
		width:$story-width;
		height: 450px;
	}
	#text{
		padding: 50px 20px 0px 20px;
	}
	img{
	width:100%;
	height:auto;
	overflow: hidden;
	}
	#text2{
		width:100%;
		background-color:red;
		position:absolute;
		float:bottom;
	}
}

.listory-meta{
	position:absolute;
	padding: 10px;
	margin:10px;
	bottom:0px;
	float:bottom;
	vertical-align:bottom;
}

#popup-content-text{
	#text{
		margin:50px 0px 50px 0px;
		min-height:50px;
	}
}

#popup-content-image{
display:block;
	width:300px;
	height:350px;
		img{
			margin:10px 0px 0px 0px;
			max-width:100%;
			max-height:100%;
			width:300px;
			height:auto;
			display:inline-block;
		}
	overflow:hidden;
}

	#user-image{
		width:30px;
		height:30px;
		vertical-align:bottom;
		border: 1px solid rgb(230,230,225);
		border-radius:15px;
		display:inline-block;
		background-color:white;
	}
	#user{
		font-size:0.7em;
		vertical-align:bottom;
		a{	color:black;	}
		padding-left:5px;
		margin:0px;
	}
	#time{
		font-size:0.7em;
		color:gray;
		vertical-align:top;
		padding-left:5px;
		margin:0px;
	}

.storypreview{
	margin: 0px;
	width: 100%;
	height: 5px;
	background-color: #9b59b6;
	margin-top:10px;
	box-shadow: 0px 0px 1px 1px rgba(150,150,150,0.3);
}

#popup-meta{
	display:inline-block;
	margin:30px 0px 10px 0px;
	#user-image{
		width:40px;
		vertical-align:bottom;
		height:40px;
		border: 1px solid rgb(200,200,195);
		border-radius:20px;
		display:inline-block;
		background-color:white;
	}
	#user{
		font-size:1.2em;
		vertical-align:bottom;
		a{	color:black;	}
		padding-left:5px;
		margin:0px;
	}
	#time{
		color:gray;
		vertical-align:top;
		padding-left:5px;
		margin:0px;
	}
}

#popup-next{
	display:inline-block;
	float:right;
}

#map-vis{
	background-color: rgb(119,202,182);
	width:100%;
	height:100%;
}


